<nav id="sidebar">
    <div class="sidebar-header">
    	<%= link_to root_path, class: "text-decoration-none" do %>
	    	<h3 class="text-center">Conteo</h3>
	    	<strong>
                <%= image_tag(asset_path('logo1.png'),
                    height: '48', width: '48') %>
            </strong>
    	<% end %>
    </div>

    <ul class="list-unstyled components">
        <li class="py-2 <%= active_class('/packages') %>">
        	<%= link_to root_path do %>
        		<i class="fas fa-city mr-2"></i>
        		Ciudades
        	<% end %>
        </li>

        <li class="py-2 <%= active_class('/finished_packages') %>">
            <%= link_to "#" do %>
                <i class="fas fa-door-open mr-2"></i>
                Centros
            <% end %>
        </li>
        <!-- <li class="py-2 <%#= active_class('/teams') %>">
        	<%#= link_to "#" do %>
        		<i class="fa fa-pencil-ruler mr-2"></i>
        		Equipos
        	<%# end %>
        </li> -->
        <!-- <li>
            <a href="#pageSubmenu"
                data-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle">
                <i class="fas fa-copy mr-2"></i>
                Pages
            </a>

            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li> -->

        <li class="py-2 <%= active_class('/users') %>">
        	<%= link_to root_path do %>
        		<i class="fas fa-users mr-2"></i>
        		Usuarios
        	<% end %>
        </li>
    </ul>
</nav>
